body {
  background-color: #f0f0f0;
}

h1 {
  color: red;
}

@font-face {
    font-family: 'MyCustomFont'; 
    src: url('./fonts/OFL.txt') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

.logo {
    font-family: 'MyCustomFont', sans-serif;
    font-size: 48px;
    font-weight: bold;
}