body {
  background-color: #f0f0f0;
}

h1 {
  color: red;
}

@font-face {
    font-family: 'MyCustomFont'; 
    src: url('./fonts/Oswald-VariableFont_wght.ttf') format('opentype'); 
}

.logo-text {
    font-family: 'MyCustomFont', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  margin-top: 100px;
}

.logo-img {
  height: 80px;
  width: auto;
}

.createbtn {
  background-color: #596D48;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
}

.main-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 40%;
  background-image: url('./images/court-yZUhkhB-qbE-unsplash.jpg');
  background-size: cover;
}

.form-section {
  width: 60%;
  
}

input:invalid {
  border-color: red;
}

input:valid {
  border-color: green;
}

input:focus {
  outline: none;
  border-color: blue;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.2);
}

input {
  border: 1px solid #E5E7EB;
  border-radius: 4px;
  padding: 5px;  
}

.form-rows {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 5px 10 px rgba(0, 0, 0, 0.1);
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.createbtn {
  margin-top: 30px;
  margin-left: 20px;
}